<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MSR.LST.ConferenceXP.cxpSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <add key="MSR.LST.ConferenceXP.VenueService.AutoLoad" value="false"/>
    <add key="MSR.LST.ConferenceXP.VenueService" value="http://venues.confxp.pnw-gigapop.net/venueservice5"/>
    <add key="MSR.LST.ConferenceXP.VenueService2" value="http://reflector.confxp.niu.edu/venueservice"/>

    <!-- Timeout in mS; Default is 10000 -->
    <add key="MSR.LST.ConferenceXP.VenueServiceTimeout" value="15000"/>

    <add key="MSR.LST.ConferenceXP.DiagnosticService" value="http://confxp.pnw-gigapop.net/diagnosticservice"/>

    <!-- The weighted average of packet loss as reported by the Diagnostic Service that will cause the warning icons to appear. Default value is 0.1 -->
    <add key="MSR.LST.ConferenceXP.ThroughputWarningThreshold" value="0.1"/>

    <!-- Note that the Archive and Reflector services here are only used to pre-populate the registry on first-run.
    Subsequent changes need to be made in the registry. -->
    <add key="MSR.LST.ConferenceXP.ArchiveService" value="archiver.confxp.pnw-gigapop.net"/>
    <add key="MSR.LST.ConferenceXP.ReflectorService" value="reflector.confxp.pnw-gigapop.net"/>
    <add key="MSR.LST.ConferenceXP.ReflectorService2" value="reflector.confxp.niu.edu"/>

    <!-- Additional Audio Compression formats may be added to the advanced audio configuration UI as follows.  
    Note that many of the possible indices will not work, or will not work with acceptable latency. -->
    <!--<add key="MSR.LST.MDShow.AudioCompressionFormat"  value="25:Description for format index 25"/>
    <add key="MSR.LST.MDShow.AudioCompressionFormat2"  value="27:Description for format index 27"/> -->

    <add key="MSR.LST.ConferenceXP.Capability.Presentation.ExitRemote" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.MaxBandwidth" value="256000"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.Channel" value="false"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.Fec" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.FecRatio" value="0:100"/>

    <!--Default frame rate for the screen scraper is 1 FPS.  It works fairly well up to about 4. -->
    <add key="MSR.LST.ConferenceXP.Capability.ScreenScraperCapability.FrameRate" value="1"/>
    <!--Default bit rate for the ScreenScraper is 250kbps (Specify in kbps here). Higher values might help if using larger frame rates. -->
    <add key="MSR.LST.ConferenceXP.Capability.ScreenScraperCapability.BitRate" value="250"/>

    <add key="MSR.LST.ConferenceXP.Capability.Chat.Channel" value="false"/>
    
    
    <!-- Uncomment for WMV3, leave commented for WMV1 (default) -->
    <!-- This can either be a Guid or substring for which we have a match
         in MediaType.SubType to the right of the _ in MediaType.cs
         Note: this only works for DMOs -->
    <!-- <add key="MSR.LST.MDShow.VideoMediaType" value="WMV3"/>-->
    
    <!-- VideoCompressorName if set, overrides VideoMediaType.  If using this, all bets are off
         as to whether it will actually work.  It has been observed to work for some. 
         Video compression settings in the CXP UI will most certainly not work.  It may be possible
         to configure the video compression outside of ConferenceXP-->
    <!-- <add key="MSR.LST.MDShow.VideoCompressorName" value="x264vfw - H.264/MPEG-4 AVC codec"/>-->

    <!-- Flags to influence the behavior of the RtpRenderer filter.  This was helpful for supporting
         certain exotic video codecs.  Currently available settings:
         Bit 0 (Low order bit):  If set, constrain video to send only VIDEOINFOHEADER formats. -->
    <!-- <add key="MSR.LST.MDShow.RtpRendererFlags" value="0"/> -->

    <!-- Set the maximum extent of the video bitrate slider (in Kbps).  The default is 10000. The minimum allowed value is 1000. -->
    <!-- <add key="MSR.LST.ConferenceXP.MaximumVideoBitRate" value="50000"/>-->

    <!-- If the audio source is not being recognized in a DV device with audio, Uncomment and set the device name. -->
    <!-- <add key="MSR.LST.MDShow.DVSourceFilterName" value="DV Device Name" /> -->
    
    <!-- If DV audio isn't working, you can disable it, then at least DV video might work better. -->
    <!-- <add key="MSR.LST.MDShow.DVAudioDisabled" value="True" /> -->

    <!-- Note that Audio and Video Fec are now enabled and disabled in the UI in the advanced Audio/Video settings.
         FEC for other capabilities may still be enabled/disabled here. -->
    
    <add key="MSR.LST.ConferenceXP.Capability.Video.FecRatio" value="0:1"/>
    <add key="MSR.LST.ConferenceXP.Capability.Audio.FecRatio" value="0:1"/>
  
    <add key="MSR.LST.ConferenceXP.RTDocumentViewerDefault" value="Presentation"/> 

    <add key="MSR.LST.Net.Rtp.TimeToLive" value="128"/>
        
    <add key="MSR.LST.Net.ConnectivityDetector.AutoStart" value="false"/> 
    <add key="MSR.LST.Net.ConnectivityDetector.IPAddress" value="233.4.12.3"/> 
    <add key="MSR.LST.Net.ConnectivityDetector.Port" value="5004"/> 
    <add key="MSR.LST.Net.ConnectivityDetector.UpdateIntervalSeconds" value="10"/> 
    
    <add key="MSR.LST.ConferenceXP.LogActivity" value="true"/>
    
    <add key="MSR.LST.ConferenceXP.StudentMode" value="false"/>

    <add key="MSR.LST.Net.Rtp.DiagnosticPort" value="1776"/>

    <!--For reflector-based sockets, set this to true to force the local unicast port to
    equal the remote port.  This is mainly for clients behind picky firewalls.
    Note that this setting can cause a port conflict if the reflector server is running
    on the same system. -->
    <add key="MSR.LST.Net.ForceLocalUnicastPorts" value="false"/>
    
    <add key="MSR.LST.Net.RtpReflectorPort" value="7004"/>
    <add key="MSR.LST.Net.RtcpReflectorPort" value="7005"/>

    <!-- Use UICulture to override the ConferenceXP language.
         Supported UICulture values: en, zh-CN.  ConferenceXP will use the Windows UICulture if 
         UICulture is not specified here.  If the selected UICulture is not supported by ConferenceXP, it will
         fall back to the English default.  -->
    <!-- <add key="MSR.LST.ConferenceXP.UICulture" value="zh-CN"/> -->
    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
