<configuration>
  <appSettings>
    <add key="MSR.LST.ConferenceXP.VenueService.AutoLoad" value="false"/>
    <add key="MSR.LST.ConferenceXP.VenueService" value="http://venues.conferencexp.net/venueservice/venueservice.asmx"/>
    
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.ExitRemote" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.MaxBandwidth" value="62500"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.Channel" value="false"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.Fec" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.FecRatio" value="0:101"/>
    <add key="MSR.LST.ConferenceXP.RTDocumentViewerDefault" value="OneNote Presentation" />
    <add key="MSR.LST.Net.Rtp.TimeToLive" value="128"/>
    <add key="MSR.LST.ConferenceXP.LogActivity" value="true"/>
    <add key="MSR.LST.ConferenceXP.StudentMode" value="true"/>
  </appSettings>
</configuration>
