<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MSR.LST.Reflector.AdminPort" value="8084"/>

    <!-- Use UICulture to override the service language.
             Supported UICulture values: en, zh-CN.  The service will use the Windows UICulture if 
             UICulture is not specified here.  If the selected UICulture is not supported by the service, it will
             fall back to the English default.  -->
    <!-- <add key="MSR.LST.Reflector.UICulture" value="zh-CN"/> -->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
