<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Use this config setting to override using the registry key -->
    <!-- add key="FilePath" value="C:\Inetpub\wwwroot\VenueService2\VenueService.dat"/-->
    
    <!-- Connection String for connecting to the venue service 1.2 database -->
    <add key="SqlConnectionString" value="Initial Catalog=VenueService;Data Source=localhost;integrated security=sspi;"/>

    <!-- Use UICulture to override the service language.
               Supported UICulture values: en, zh-CN.  The service will use the Windows UICulture if 
               UICulture is not specified here.  If the selected UICulture is not supported by the service, it will
               fall back to the English default.  -->
    <!-- <add key="MSR.LST.ConferenceXP.VenueService.UICulture" value="zh-CN"/> -->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
