<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- DO NOT COPY THIS CONNECTION STRING TO THE ARCHIVE SERVICE CONFIG FILE.  IF YOU DO, TURN CONNECTION POOLING ON! -->
        <!-- Connection pooling is off only for the admin service, because it doesn't do any simultaneous operations, and connection pooling would be a waste of resources. -->
        <!--<add key="MSR.LST.ConferenceXP.ArchiveService.SQLConnectionString" value="Data Source = .; Initial Catalog = ArchiveService; Integrated Security = SSPI; Pooling = false"/>-->
        <!--<add key="MSR.LST.ConferenceXP.ArchiveService.CommandTimeout" value="600"/> -->
      
        <!--The ServiceName must be set here to permit the Admin tool to control it. 
        Note that this is not the display name seen in the services control panel.  "CXPArchiver" is the default. -->
        <add key="ServiceName" value="CXPArchiver"/>

        <!-- Use UICulture to override the service language.
             Supported UICulture values: en, zh-CN.  The service will use the Windows UICulture if 
             UICulture is not specified here.  If the selected UICulture is not supported by the service, it will
             fall back to the English default.  -->
        <!-- <add key="MSR.LST.ConferenceXP.ArchiveService.UICulture" value="zh-CN"/> -->

    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
