<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MSR.LST.Reflector.AdminPort" value="8084"/>
    <add key="MSR.LST.Reflector.UnicastRTPListenPort" value="7004"/>

    <add key="MSR.LST.Reflector.IPv6Support" value="false"/>
    <add key="MSR.LST.Reflector.IPv4Support" value="true"/>
  
    <add key="MSR.LST.Reflector.TimeOutMinutes" value="2"/>
    
    <!-- Turn this feature on, only if you have a dedicated server for the reflector service. 
        This feature will prevent you from runing the cxpclient and the reflector on the same machine. -->        
    <add key="MSR.LST.Reflector.MCLoopbackOff" value="false"/>

    <!--
    Set to false to disable multicast support
    -->
    <add key="MSR.LST.Reflector.SendMulticast" value="true"/>

    <!--
    Connect this reflector to the given reflector in a "multi-reflector" configuration
    <add key="MSR.LST.Reflector.MultiReflector" value="128.208.5.30"/>
    
    -->
    <!-- MultipleInterfaceSupport is useful when the reflector machine has two NICs and to increase the performance 
         (or for routing purposes) you want to take advantage of both by using one for the multicast side, and the 
         other for unicast side. This feature can also help you for setting the right network interfaces if either IPv6 
         or IPv4 routing on the reflector machine is not properly configured. If you want to set MultipleInterfaceSupport
         for IPv6 but not for IPv4 you can turn on this feature but don't assign any values for the other protocol.
         
         After enabling, you will need to configure the IP addresses, as well as the route index of the multicast interface.
         The route index can be discovered by running 'route print' at the command line.  The index is treated as a hexadecimal 
         number inside the code whether the 0x is present or not.
         
         (IPv6)UnicastInterfaceIP is the address to bind to for unicast send / receive.
         
         (IPv6)MulticastInterfaceIP is address to bind to for receiving multicast.
         MulticastInterfaceRouteIndex is address to bind to for sending multicast.
    -->        
    <add key="MSR.LST.Reflector.MultipleInterfaceSupport" value="false"/>
    <add key="MSR.LST.Reflector.MulticastInterfaceRouteIndex" value="0x0"/>
    <add key="MSR.LST.Reflector.MulticastInterfaceIP" value="172.31.41.183"/>
    <add key="MSR.LST.Reflector.UnicastInterfaceIP" value="192.168.1.1"/>
    <add key="MSR.LST.Reflector.IPv6MulticastInterfaceIP" value="3000::1:212:79ff:fed2:f77"/>
    <add key="MSR.LST.Reflector.IPv6UnicastInterfaceIP" value="3000::2:212:79ff:fed2:f77"/>

    <!-- Use UICulture to override the service language.
             Supported UICulture values: en, zh-CN.  The service will use the Windows UICulture if 
             UICulture is not specified here.  If the selected UICulture is not supported by the service, it will
             fall back to the English default.  -->
    <!-- <add key="MSR.LST.Reflector.UICulture" value="zh-CN"/> -->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
